---
import BlogEntryItem from "@components/features/blog/BlogEntryItem.astro";
import TagFilter from "@components/ui/TagFilter.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import { getBlogCollection } from "utils/content";
import { getTitle } from "utils/title";
import GradientSubText from "@components/ui/text/GradientSubText.astro";


const allBlogPosts = await getBlogCollection();
// Get all unique tags
const allTags = [...new Set(allBlogPosts.flatMap(post => post.data.tags))];

const currentTag = 'All';
---

<BaseLayout title={getTitle('Blog')}>
    <main>
      <section>
        <div class='layout pt-32 pb-8'>
          <div class="flex flex-col justify-center items-center">
            <h2 class='font-display text-3xl md:text-5xl text-gradient-primary leading-tight pb-2'>
              My Blog
            </h2>

            <GradientSubText className="text-center">
              A collection of blog, related to programming and random thoughts.
            </GradientSubText>

            <TagFilter tags={allTags} selectedTag={currentTag} baseUrl="blog" />
          </div>
        </div>

        <ul class='mt-0 pb-32 grid gap-4 sm:grid-cols-2 xl:grid-cols-2 px-4 sm:px-0 sm:w-11/12 sm:max-w-[60rem] sm:mx-auto'>
          {allBlogPosts.map((blog) => <BlogEntryItem {...blog} />)}
        </ul>
      </section>
    </main>
</BaseLayout>
