---
import Accent from "@components/Accent.astro";
import BlogEntryItem from "@components/BlogEntryItem.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import { getBlogCollection } from "utils/content";
import { getTitle } from "utils/title";

const allBlogPosts = await getBlogCollection();
---

<BaseLayout title={getTitle('Blog')}>
  <main>
    <section>
      <div class='layout py-12'>
        <h2 class='text-3xl md:text-4xl'>
          <Accent text='Blog.'/>
        </h2>
        <p class='mt-2 text-black-600'>
          A collection of blog that includes my thoughtful reflections on programming, personal development, and my thoughts.
        </p>
        <ul class='mt-4 grid gap-4 sm:grid-cols-2 xl:grid-cols-3'>
          {allBlogPosts.map((blog) => <BlogEntryItem {...blog} />)}
        </ul>
      </div>
    </section>
  </main>
</BaseLayout>
