---
import BlogEntryItem from "@components/features/blog/BlogEntryItem.astro";
import TagFilter from "@components/ui/TagFilter.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import { getBlogCollection } from "utils/content";
import { getTitle } from "utils/title";
import Background from "@components/layout/Background.astro";
import GradientSubText from "@components/ui/text/GradientSubText.astro";
import GradientHeaderText from "@components/ui/text/GradientHeaderText.astro";


const allBlogPosts = await getBlogCollection();
// Get all unique tags
const allTags = [...new Set(allBlogPosts.flatMap(post => post.data.tags))];

const currentTag = 'All';
---

<BaseLayout title={getTitle('Blog')}>
  <Background>
    <main>
      <section>
        <div class='layout py-32'>
          <div class="flex flex-col justify-center items-center">
            <h2 class='font-display text-5xl md:text-5xl text-gradient-primary leading-tight pb-2'>
              My Blog
            </h2>      

            <GradientSubText className="px-12 md:px-32 py-2 md:py-4 text-center">
              A collection of blog, related to programming and random thoughts.
            </GradientSubText>
            
            <TagFilter tags={allTags} selectedTag={currentTag} baseUrl="blog" />
          </div>
      
          <ul class='mt-8 grid gap-4 sm:grid-cols-2 xl:grid-cols-2'>
            {allBlogPosts.map((blog) => <BlogEntryItem {...blog} />)}
          </ul>
        </div>
      </section>
    </main>
  </Background>
</BaseLayout>
