---
import BlogEntryItem from "@components/BlogEntryItem.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import { getBlogCollection } from "utils/content";
import { getTitle } from "utils/title";

const allBlogPosts = await getBlogCollection();
---

<BaseLayout title={getTitle("Blog")}>
  <main>
    <div>
      <h1>Blog</h1>
      <p>
        A collection of articles that includes tutorials, tips, and my thoughts.
      </p>
      <ul class="blog-grid">
        {allBlogPosts.map((blog) => <BlogEntryItem {...blog} />)}
      </ul>

    </div>
  </main>
</BaseLayout>

<style>
  main {
    width: 100%;
  }
  .blog-grid {
    list-style: none;
    display: grid;
    gap: 1rem;
    padding: 0;
    margin-top: 6vh;
    margin-bottom: 20vh;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
  } 
</style>