:root {
    --layout-width: min(100ch, 90vw);
    --screen-height: 82vh;
    --font-family-display: "Lora", sans-serif;
    --font-family-primary: "Albert Sans", sans-serif;
    --font-family-code: "JetBrains Mono", monospace;
  }
  
  @media (prefers-color-scheme: light) {
    :root {
      --color-background: #fff;
      --color-text: #111;
      --color-primary: #869ac4ff;
      --color-divider: #d1d5dbff;
    }
  }
  
  /* Layout */
  body {
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: var(--font-family-primary);
  
    width: 100vw;
    min-height: var(--screen-height);
  
    display: grid;
    grid-template: auto 1fr auto / auto var(--layout-width) auto;
  
    overflow-x: hidden;
  }
  
  footer {
    margin-top: auto;
  }

  p {
    font-size: large;
  }
  
  /* Align header, main, footer on center */
  header,
  main,
  footer {
    grid-column: 2 / 3;
  }
  
  .left-sidebar {
    grid-column: 1 / 2;
  }
  
  .right-sidebar {
    grid-column: 3 / 4;
  }

  .link {
    text-decoration: none;
    position: relative;
  }
  .link::after {
    content: ''; 
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px; 
    background-color: #2c2c2c;
  }
  .link:hover::after {
    width: 100%;
    transition: all 0.5s ease;
  }

  .inverted {
    border-radius: 0.5em; 
    background-color: #f0f0f0;
    font-style: italic;
    font-size: normal;
  }
  
  main {
    margin: 0 auto;
  }
  
  /* Typography */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-family-display);
  }
  
  hr {
    width: 100%;
    border: 0;
    border-bottom: 1px solid var(--color-divider);
  }
  
  a {
    color: var(--color-primary);
    text-decoration: none;
  }

  pre {
    padding: 1.5em;
    border-radius: 8px;
  }

  code {
    font-size: .875rem;
    font-family: var(--font-family-code);
    line-height: 1.25em;
  }

  blockquote {
    margin: 0;
    padding: 1em;
    border-left: 4px solid rgb(75, 147, 248);
  }

  blockquote p {
    font-family: var(--font-family-display);
    font-size: 1.25rem;
    font-style: bold;
    display: inline;
    color: #000;
    line-height: 1em;
  }
