@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --radius: 0.5rem;
  }

  @font-face {
    font-family: "AlbertSans";
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url("../fonts/AlbertSans.woff2") format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
      U+2215, U+FEFF, U+FFFD;
  }
  @font-face {
    font-family: "DMMono";
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url("../fonts/DMMono.woff2") format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
      U+2215, U+FEFF, U+FFFD;
  }
  @font-face {
    font-family: "PlayfairBold";
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url("../fonts/PlayfairBold.woff2") format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
      U+2215, U+FEFF, U+FFFD;
  }

  html {
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
  }

  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }

  .cursor-newtab {
    cursor:
      url("/images/new-tab.png") 10 10,
      pointer;
  }

  h1,
  .h1 {
    @apply font-primary text-2xl font-normal md:text-4xl;
  }

  h2,
  .h2 {
    @apply font-primary text-xl font-normal md:text-3xl;
  }

  h3 {
    @apply font-primary text-lg md:text-2xl inline-block;
  }

  h4,
  .h4 {
    @apply font-primary text-base font-normal md:text-lg;
  }

  p {
    @apply font-primary text-base font-normal mt-4 mb-4 text-gray-400;
  }

  code {
    @apply font-code text-sm;
  }

  blockquote {
    @apply m-0 p-2 border-l-4 border-blue-500;
  }

  .mdoc-container a {
    @apply text-blue-500 underline italic;
  }

  blockquote,
  .p {
    @apply font-primary text-lg text-black leading-normal;
  }

  pre {
    @apply my-4 p-6 rounded-lg;
  }

  img {
    border-radius: 4px;
  }

  /* workaround for image inside mdx */
  img[alt="blog-content"] {
    padding: 1em 0;
  }

  body,
  .body {
    @apply bg-background text-foreground font-primary text-sm md:text-base;
    min-height: 100vh;
  }

  .layout {
    max-width: 48rem;
    @apply mx-auto w-11/12;
  }

  .blog-layout {
    max-width: 52rem;
    @apply mx-auto w-11/12;
  }

  .min-h-main {
    @apply min-h-[calc(100vh-82px)];
  }

  .accent-highlight {
    @apply bg-primary-300/50;
  }
}

button {
  all: unset;
  position: relative;

  font-family: sans-serif;
  font-size: 1rem;

  padding: 0.5rem 2rem;
  backdrop-filter: blur(2px);
  border-radius: 50px;
}

button::before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0px;

  border-radius: inherit;
  /* this is the border width */
  padding: 1px;
  background: linear-gradient(
    to bottom right,
    #171717 0%,
    #525252 62%,
    #171717 100%
  );
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.bg-grid-white {
  background-image: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.1) 0.1px,
      transparent 1px
    ),
    linear-gradient(rgba(255, 255, 255, 0.1) 0.1px, transparent 1px);
  background-size: 20px 20px; /* Adjust grid size */
}
