---
import BookmarkEntryItem from "@components/features/bookmark/BookmarkEntryItem.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import { getTitle } from "utils/title";
import { getBookmarkByTag, getBookmarkTags } from "utils/posts";
import TagFilter from "@components/ui/TagFilter.astro";
import Background from "@components/layout/Background.astro";
import GradientSubText from "@components/ui/text/GradientSubText.astro";
import GradientHeaderText from "@components/ui/text/GradientHeaderText.astro";


const allTags = await getBookmarkTags();

export async function getStaticPaths() {
	const tags = await getBookmarkTags()

	return tags.map((tag) => ({
		params: { tag },
		props: { tag }
	}))
}

const { tag } = Astro.props;
const posts = await getBookmarkByTag(tag);
---

<BaseLayout title={getTitle('Bookmarks')}>
    <Background>
        <main>
            <div class='layout py-32'>
              
                <div class="flex flex-col justify-center items-center">
                    <h2 class='font-display text-5xl md:text-5xl text-gradient-primary'>
                        Bookmark List
                      </h2>
                    
                    <GradientSubText className="text-center">
                        A curated collection of insightful articles and blog posts I've enjoyed reading.
                    </GradientSubText>
        
                    <TagFilter tags={allTags} selectedTag={tag} baseUrl="bookmarks" />
                </div>
    
                <div class="flex justify-center">
                    <ul class='mt-4 flex flex-col gap-4'>
                        {
                            posts.map((item) => <BookmarkEntryItem {...item} />)
                        }
                    </ul>
                </div>
            </div>
        </main>
    </Background>
</BaseLayout>

