---
import BookmarkEntryItem from "@components/features/bookmark/BookmarkEntryItem.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import { getTitle } from "utils/title";
import { getBookmarkByTag, getBookmarkTags } from "utils/posts";
import TagFilter from "@components/ui/TagFilter.astro";
import Background from "@components/layout/Background.astro";
import GradientSubText from "@components/ui/text/GradientSubText.astro";
import GradientHeaderText from "@components/ui/text/GradientHeaderText.astro";


const allTags = await getBookmarkTags();

export async function getStaticPaths() {
	const tags = await getBookmarkTags()

	return tags.map((tag) => ({
		params: { tag },
		props: { tag }
	}))
}

const { tag } = Astro.props;
const posts = await getBookmarkByTag(tag);
---

<BaseLayout title={getTitle('Bookmarks')}>
    <Background>
        <main>
            <div class='layout py-32'>
              
                <div class="flex flex-col justify-center items-center">
                    <h2 class='font-display text-5xl md:text-5xl'>
                        My
                        <GradientHeaderText>
                            Bookmarks
                        </GradientHeaderText>
                      </h2>
                    
                    <GradientSubText className="px-12 md:px-32 py-2 md:py-6 text-center">
                        Since mid-2023, I’ve been reading articles almost every day. It's really helped me at work and expanded my knowledge. I created this page to keep track of everything I’ve read.
                    </GradientSubText>
        
                    <TagFilter tags={allTags} selectedTag={tag} baseUrl="bookmarks" />
                </div>
    
                <div class="flex justify-center">
                    <ul class='mt-4 grid gap-4 sm:grid-cols-2 xl:grid-cols-2'>
                        {
                            posts.map((item) => <BookmarkEntryItem {...item} />)
                        }
                    </ul>
                </div>
            </div>
        </main>
    </Background>
</BaseLayout>

