---
import GlowingButton from "@components/button/GlowingButton.astro";
import { Spotlight } from "@components/Spotlight";
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout title="404: Not Found">
  <div class="h-[40rem] w-full rounded-md flex items-center justify-center bg-black/[0.96] antialiased bg-grid-white relative overflow-hidden">
    <Spotlight
      className="hidden md:block -top-40 left-0 md:left-60 md:-top-20"
      fill="white"
    />
    <div class="p-4 max-w-7xl mx-auto relative z-10 w-full pt-20 md:pt-0 flex flex-col items-center justify-center">
      <h1 class="font-display text-4xl md:text-7xl font-bold text-center bg-clip-text text-transparent bg-gradient-to-b from-neutral-50 to-neutral-400 bg-opacity-50">
        Ouch... <span>you've lost</span>
      </h1>
      <p class="py-4 font-normal text-base text-neutral-300 max-w-lg text-center mx-auto">
        An error has occurred. The page you are looking for may have been moved, deleted, or does not exist.      </p>
     <GlowingButton 
        href="/" text="Go back"
     />
    </div>
  </div>
</BaseLayout>

