---
import PrimaryButton from "@components/ui/button/PrimaryButton.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import { Image } from "astro:assets";
---
<BaseLayout title="404: Not Found">
  <div class="relative h-[40rem] w-full flex items-center justify-center overflow-hidden">
    {/* Gradient Background Effect */}
    <div
      class="h-[400px] w-[650px] rounded-full bg-gradient-to-r from-[#3f9cff]/10 to-[#0F3324]/20 blur-[180px] absolute top-1/8 -translate-y-1/8 -translate-x-1/8 left-[15%] rotate-45 origin-center z-[3]"
      aria-hidden="true"
    />
    {/* Crumpled Paper Background */}
    <div
      class="absolute inset-0 overflow-hidden h-[450px]"
      style={{
        maskImage: 'linear-gradient(rgb(0, 0, 0) 80%, rgba(0, 0, 0, 0) 100%)',
        WebkitMaskImage: 'linear-gradient(rgb(0, 0, 0) 80%, rgba(0, 0, 0, 0) 100%)'
      }}
    >
      <Image
        class="absolute w-full h-full object-cover z-[-1] opacity-90"
        src="/images/crumpled-paper.png"
        decoding="async"
        loading="lazy"
        alt="Crumpled Paper"
        width={1280}
        height={825}
      />
    </div>
    {/* Semi-Transparent Overlay */}
    <div class="absolute inset-0 bg-background/90 backdrop-brightness-75 z-[1]" />
    {/* Main Content */}
    <div class="relative z-[4] w-full pt-20 md:pt-0 flex flex-col items-center justify-center layout">
      <h1 class="font-display text-4xl md:text-7xl font-bold text-center text-gradient-primary">
        Ouch... <span>you've lost</span>
      </h1>
      <p class="py-4 font-normal text-base max-w-lg text-center mx-auto transition-colors text-gradient-secondary">
        An error has occurred. The page you are looking for may have been moved, deleted, or does not exist.
      </p>
      <PrimaryButton href="/" text="Go back" glowing={true} />
    </div>
  </div>
</BaseLayout>