---
import BaseLayout from "@layouts/BaseLayout.astro";
import { getTitle } from "utils/title";
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components"
import { Spotlight } from "@components/Spotlight";
import Footer from "@components/Footer.astro";


const techIcons = [
  {
    icon: "simple-icons:kotlin",
    description: "Kotlin, more readable and concise version of Java"
  },
  {
    icon: "simple-icons:flutter",
    description: "Flutter, the development is just way faster compared to Java/Kotlin"
  },
  {
    icon: "simple-icons:figma",
    description: "I sometimes use Figma to visualize design ideas, and ensure a shared understanding of the user interface."
  },
  {
    icon: "simple-icons:typescript",
    description: "TypeScript, definitely a valuable choice beyond traditional JavaScript"
  },
  {
    icon: "simple-icons:react",
    description: "React, loved for its declarative approach and the abundance of resources available for learning"
  },
  {
    icon: "simple-icons:tailwindcss",
    description: "Tailwind is a great css framework. Styling has never been easier, and there is so much flexibility we can achieve"
  },
  {
    icon: "simple-icons:gnubash",
    description: "I used Bash to create shortcut command"
  },
  {
    icon: "simple-icons:python",
    description: "Python, mainly used by me to solve data structures problems and to learn machine learning"
  }

]
---

<BaseLayout title={getTitle('About')}>
  <main class='layout py-32 px-12'>
    <Spotlight
      className="hidden md:block -top-20 left-0 md:left-60 md:-top-60"
      fill="white"
      client:visible
    />
    <section class='flex flex-col justify-center items-center'>
      <Image
        class='ml-4 rounded-lg w-20 h-20 md:w-20 md:h-20 object-cover'
        src='/images/avatar-1.png'
        alt='Photo of me, hopefully can impress your boss'
        decoding='async'
        loading='lazy'
        width={500}
        height={500}
      />

      <h2 class='mt-10 text-3xl md:text-4xl'>Get to know <span class="font-display text-5xl">Me</span></h2>
    
      <p class='mt-4 text-center text-gray-400'>
        Call me Bagus.
        I work as a Software Engineer and have a passion for 
        experimenting with user interfaces and creating products that deliver exceptional user 
        experiences. While my expertise lies in mobile development and front-end work, 
        I also find joy in integrating various software components together.
      </p>
      <p class='mt-4 text-center text-gray-400'>
        Currently, I'm working as a Software Engineer for mobile platform at a startup based in Singapore.
      </p>

    </section>
    
    <section class="flex flex-col justify-center items-center">
      <h2 class='mt-8 font-display text-3xl'>Education</h2>
      <div class='flex items-center space-x-4 text-gray-400'>
        <h4 class='mt-2'>Bachelor of Comp. Science</h4>
        <h4 class='mt-2'>2019—2023</h2>
      </div>
      <h4 class='mt-4 text-gray-400'>Universitas Udayana</h4>
      <h4 class="text-gray-400">Bachelor Degree of Computer Science,</h4>

    </section>

    <section class="flex flex-col justify-center items-center">
      <h2 class='mt-8 text-3xl font-display'>Tech</h2>
        <ul class='mt-8 flex flex-wrap gap-4 justify-center items-center'>
          {techIcons.map((icons) => {
            return (
              <li>
                <Icon 
                  class='text-6xl text-gray-300 hover:text-primary-400'
                  name={icons.icon} 
                />
              </li>
            );
          })}
      </ul>
    </section>
    <section class="flex flex-col justify-center item-center mt-20">
      <Footer />
    </section>
  </main>
</BaseLayout>
