---
import BaseLayout from "@layouts/BaseLayout.astro";
import { getTitle } from "utils/title";
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components"
import Footer from "@components/layout/Footer.astro";
import Background from "@components/layout/Background.astro";
import GradientSubText from "@components/ui/text/GradientSubText.astro";
import GradientHeaderText from "@components/ui/text/GradientHeaderText.astro";
import Sign from "@components/ui/Sign.astro";
import WorkplaceItem from "@components/ui/WorkplaceItem.astro";


const techIcons = [
  {
    icon: "simple-icons:kotlin",
    description: "Kotlin, more readable and concise version of Java"
  },
  {
    icon: "simple-icons:flutter",
    description: "Flutter, the development is just way faster compared to Java/Kotlin"
  },
  {
    icon: "simple-icons:figma",
    description: "I sometimes use Figma to visualize design ideas, and ensure a shared understanding of the user interface."
  },
  {
    icon: "simple-icons:typescript",
    description: "TypeScript, definitely a valuable choice beyond traditional JavaScript"
  },
  {
    icon: "simple-icons:react",
    description: "React, loved for its declarative approach and the abundance of resources available for learning"
  },
  {
    icon: "simple-icons:tailwindcss",
    description: "Tailwind is a great css framework. Styling has never been easier, and there is so much flexibility we can achieve"
  },
  {
    icon: "simple-icons:gnubash",
    description: "I used Bash to create shortcut command"
  },
  {
    icon: "simple-icons:python",
    description: "Python, mainly used by me to solve data structures problems and to learn machine learning"
  }

]
---

<BaseLayout title={getTitle('About')}>
  <Background>
    <main class="layout py-32">
      <section class="flex flex-col justify-center items-center">
        <h2 class="font-display text-5xl md:text-5xl">
          About
          <GradientHeaderText>
            Me
          </GradientHeaderText>
        </h2>


        <GradientSubText className="text-center">
          Odyssey of learning and self-discovery
        </GradientSubText>
      </section>

      <section class="flex flex-col sm:flex-row gap-16 py-10">
        <div class="mt-16 mb-8 mx-auto ml-4-w-[300px] max-w-full rotate-3 sm:float-right sm:ml-4">
          <div class="relative rounded bg-zinc-50 p-4 pb-16" >
               <Image
                class='rounded object-contain object-center aspect-square'
                src='/images/avatar-1.jpg'
                alt='Photo of me, hopefully can impress your boss'
                decoding='async'
                loading='lazy'
                width={1559}
                height={1559}
              />

              <Sign class="absolute bottom-2 right-6 w-36 h-12 max-w-full fill-zinc-800 stroke-zinc-800 -rotate-6"/>
          </div>

        </div>

        <div class="flex flex-col sm:mt-4 gap-5">
          <h3>Bagus Merta</h3>
          <h5 class="text-gray-400">
            Call me Bagus.
            I work as a Software Engineer and have a passion for 
            experimenting with user interfaces and creating products that deliver exceptional user 
            experiences. While my expertise lies in mobile development and front-end work, 
            I also find joy in integrating various software components together.
            <br><br>
            Currently, I'm working as a Software Engineer - mobile at a startup based in Singapore.
  
          </h5>

          <h5 class="text-gray-400">Here are my current tech stack:</h5>
          <ul class="mt-2 flex flex-wrap gap-4">
            {techIcons.map((icons) => {
              return (
                <li>
                  <Icon 
                    class="text-2xl text-gray-300 hover:text-primary-400"
                    name={icons.icon} 
                  />
                </li>
              );
            })}
        </ul>

        </div>
      </section>

      <section>
        <div class="flex flex-col p-6 md:flex-row justify-between gap-6 md:gap-20 md:p-10 w-full rounded-lg border border-gray-900">
          <div class="flex items-center gap-4">
            <Icon name="ri:briefcase-fill" class="text-sm md:text-xl" />
            <h3 class="text-xl font-semibold">Work</h3>
          </div>
      
          <ul class="flex flex-col gap-4">
            <WorkplaceItem
              logo="https://avatars.githubusercontent.com/u/156179419?s=200&v=4"
              company="Wine Adore"
              location="Singapore"
              title="Mobile Software Engineer"
              period="Jan 2024 — Present"
            />
            <WorkplaceItem
              company="Archipelago Technologies Pte. Ltd"
              location="Singapore"
              title="Mobile Software Engineer"
              period="Jul 2023 — Sep 2023"
            />
            <WorkplaceItem
              logo="https://avatars.githubusercontent.com/u/45302224?v=4"
              company="Avatar Solution"
              location="Bali, Indonesia"
              title="Android Developer"
              period="Feb 2022 — Apr 2023"
            />
          </ul>
        </div>
      </section>

      <section class="flex flex-none justify-center mt-20">
        <blockquote>
          The impediment to action advances action, what stands in the way becomes the way — Marcus Aurelius
        </blockquote>

      </section>
      
    </main>
  </Background>
  
</BaseLayout>
