---
import BaseLayout from "@layouts/BaseLayout.astro";
import { getTitle } from "utils/title";
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components"
import Accent from "@components/Accent.astro";
import CustomLink from "@components/CustomLink.astro";


const techIcons = [
  {
    icon: "skill-icons:kotlin-light",
    description: "Kotlin, more readable and concise version of Java"
  },
  {
    icon: "skill-icons:flutter-light",
    description: "Flutter, the development is just way faster compared to Java/Kotlin"
  },
  {
    icon: "skill-icons:figma-light",
    description: "I sometimes use Figma to visualize design ideas, and ensure a shared understanding of the user interface."
  },
  {
    icon: "skill-icons:typescript",
    description: "TypeScript, definitely a valuable choice beyond traditional JavaScript"
  },
  {
    icon: "skill-icons:react-light",
    description: "React, loved for its declarative approach and the abundance of resources available for learning"
  },
  {
    icon: "skill-icons:tailwindcss-light",
    description: "Tailwind is a great css framework. Styling has never been easier, and there is so much flexibility we can achieve"
  },
  {
    icon: "skill-icons:bash-light",
    description: "I used Bash to create shortcut command"
  },
  {
    icon: "skill-icons:python-light",
    description: "Python, mainly used by me to solve data structures problems and to learn machine learning"
  }

]
---

<BaseLayout title={getTitle('About')}>
  <main class='layout'>
    <section class='py-20'>
      <Image
        class='float-right rounded-lg ml-4 mb-2 w-40 md:w-72'
        src='/images/avatar.png'
        alt='I Putu Bagus Merta Sentana'
        width=128
        height=128
      />
      <h2 class='mt-1'><Accent text='About Me.'/></h2>
      <p class='mt-4'>
        Hello there! welcome to my website.
      </p>
      <p class='mt-4'>
        My name is Bagus.
        I work as a Software Engineer and have a passion for 
        experimenting with user interfaces and creating products that deliver exceptional user 
        experiences. While my expertise lies in mobile development and front-end work, 
        I also find joy in integrating various software components together.
      </p>
      <p class='mt-4'>
        Currently, I'm working as a Software Engineer for mobile platform at a startup based in Singapore.
      </p>

    </section>
   
    <section>
      <h2 class='mt-1'>My <Accent text='Background'/></h2>
      <p class='mt-4'>
        I'm born and grew up in Bali, Indonesia and I'm very grateful to have taken a very traditional route into the fields
        of Software Engineering and Computer Science.
      </p>
      <p>
        My journey with programming started at Udayana University. Although I faced some challenges and uncertainties during 
        my first year, the onset of COVID-19 and the quarantine give me quite a lot of time to learn software engineering.
      </p>
      <p>
        During my college years, I was actively involved in the highly ambitious informatics club called
        <a href="https://sicudayana.com" target='_blank', class='cursor-newtab'>
          <CustomLink text="SIC (Student Innovation Centre)" />
        </a> 
        , where I led a team of 8 people. We organized sharing sessions to discuss various 
        technology and software engineering topics. I also took part in an immersive project where we 
        collaborated to create a project from scratch. 
      </p>
      <p>
        Additionally, I joined a startup called Inspix Technologies, working as a Product Manager to help launch their first MVP 
        product, which was supported by the Ministry of Industry in Indonesia and based in Denpasar, Bali.
      </p>
      <p>
        In my later years, I also joined the 
        <a href="https://kampusmerdeka.kemdikbud.go.id/" target='_blank', class='cursor-newtab'>
          <CustomLink text="Kampus Merdeka" />
        </a> 
        program (8 months intensives bootcamp), This experience set a strong foundation in software engineering for me, which helped me a lot in the next several years. 
      </p>
    </section>

    <section>
    <h2 class='mt-8'><Accent text='Tech'/> Stack</h2>
      <ul class='mt-4 flex flex-wrap gap-2'>
        {techIcons.map((icons) => {
          return (
            <li 
              data-tooltip-interactive='false'
              data-tooltip-placement='bottom'
              title={icons.description}>
              <Icon 
                class='text-6xl'
                name={icons.icon} 
              />
            </li>
          );
        })}
    </ul>
    </section>

    <section>
      <h2 class='mt-8'><Accent text='Education'/></h2>
      <div class='flex items-center space-x-4'>
        <h4 class='mt-2'>Bachelor of Comp. Science</h4>
        <h4 class='mt-2'>2019—2023</h2>
      </div>
      <h4 class='mt-4'>Universitas Udayana</h4>
      <h4>Bachelor Degree of Computer Science,</h4>

    </section>

    <section>
      <h2 class='mt-10'>Contact ✨</h2>
      <p class='mt-4'>
        Feel free to reach out if you require insights on web & app development, 
        particularly frontend projects. I'll be happy to help. 
        You can locate my contact information in the footer.
      </p>
    </section>
  </main>
</BaseLayout>
