---
import BaseLayout from "@layouts/BaseLayout.astro";
import { getTitle } from "utils/title";
import { Image } from "astro:assets";

const techImages = [
  "ic-kotlin.jpg",
  "ic-flutter.png",
  "ic-android.png",
  "ic-javascript.png",
  "ic-react.svg",
  "ic-python.png",
  "ic-astro.svg",
  "ic-java.png",
];
---

<BaseLayout title={getTitle("About")}>
  <main>
    <Image
      src="/images/avatar.png"
      alt="I Putu Bagus Merta Sentana"
      width=128
      height=128
    />
    <h1>About Me.</h1>
    <p>
      Hello there! My name is Bagus. I work as a Software Engineer and have a passion for 
      experimenting with user interfaces and creating products that deliver exceptional user 
      experiences. While my expertise lies in mobile development and front-end work, 
      I also find joy in integrating various software components together.
    </p>
    <p>
      Currently, I'm working as a Software Engineer (Flutter) at an early IT consulting company based in Singapore,
      where I'm focused on building new and exciting apps after graduating.
    </p>
    <p>
      Before that, I worked at a software house company in Bali for about a year.
      I spent majority of my time there on enhancing existing legacy code and developing new features, 
      particularly those associated with government projects.
    </p>

    <h2>Beginnings of my journey🌏</h2>
    <p>
      I'm born and grew up in Bali, Indonesia and I'm very grateful to have taken a very traditional route into the fields
      of Software Engineering and Computer Science.
    </p>
    <p>
      My journey with programming started at university. Although I faced some challenges and uncertainties during 
      my first year, the onset of COVID-19 and the quarantine give me quite a lot of time to code.
      This, greatly contributed to my improvement over the next few years.
    </p>
    <p>
      During my college years, I was actively involved in the Coding Club called SIC, 
      where I led a team of 8 people. We organized sharing sessions to discuss various 
      technology and software engineering topics. I also took part in an immersive project where we 
      collaborated to create a project from scratch. 
    </p>
    <p>
      Additionally, I joined a startup called Inspix Technologies, working as a Product Manager to help launch their first MVP 
      product, which was supported by the Ministry of Industry in Indonesia and based in Denpasar, Bali.
    </p>
    <p>
      In my later years, I also joined the Kampus Merdeka program (8 months intensives bootcamp held by Indonesian goverment), which sparked my passion for coding. I continued to
      thrive and developed a strong love for coding, especially when it involves creating user interfaces
    </p>

    <h2>Technology I've Used 💻</h2>
    <p>
      Throughout my entire lifetime, I've had the
      privilege to implemented various tech stack. </p>
      <div class="slider">
        <div class="icons__slider">
          { 
            techImages.map((img) => 
              <Image 
                src={`/icons/${img}`}
                alt="Tech Icons"
                width="80"
                height="80"
              />           
            )
          }
        </div>
        <div class="icons__slider">
          { 
            techImages.map((img) => 
              <Image 
                src={`/icons/${img}`}
                alt="Tech Icons"
                width="80"
                height="80"
              />           
            )
          }
        </div>
      </div>

    <h2>Random stuffs ✨</h2>
    <p>
      I'm a bit of a nerd—I mean, I love watching anime while also writing code in weekend.
      I'm also a big fan of Roman Ancient and Greek history.
    </p>
    <p>
      Most of my time is spent thinking ways to level up in life, whether it's building better habits, learning new stuff, 
      hitting the gym, or just taking care of my mental well-being. Also sleep a lot.🌝
    </p>
  </main>
</BaseLayout>

<style>
  .slider {
    overflow: hidden;
    margin: 40px 0;
    white-space: nowrap;
    position: relative;
  }
  .icons__slider {
    display: inline-block;
    animation: 15s runSlider linear infinite;
  }
  .icons__slider img {
    margin: 0 20px;
  }
  .slider:hover .icons__slider {
    animation-play-state: paused;
  }
  .slider::before,
  .slider::after {
    position: absolute;
    top: 0;
    width: 120px;
    height: 100%;
    z-index: 2;
    content: "";
  }
  
  .slider::before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
    
  }
  .slider::after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
  }

  @keyframes runSlider {
    from{
      transform: translateX(0);
    } to{
      transform: translateX(-100%);
    }
  }

  img {
    border-radius: 14px;
  }

  main {
    margin: 0;
    padding: 0 1rem 1rem 0;
  }

</style>