---
import BaseLayout from "@layouts/BaseLayout.astro";
// import LatestPosts from "@components/LatestPosts.astro";
import { getTitle } from "utils/title";
---

<BaseLayout title={getTitle("Home")}>
  <main>
    <div>
      <div class="intro">
        <h3>👋🏻 Hi! I'm a software engineer from Indonesia who's passionate about 
          <span class="inverted">Mobile</span>
          and 
          <span class="inverted">Front-end</span>
          development.
        </h3>
        </p>
        <a class="link" href={"/about"}>More about me →</a>
      </div>
    </div>

    <!-- <LatestPosts /> -->
  </main>
</BaseLayout>

<style>
  main > div:first-of-type {
    width: 100%;
    min-height: calc(var(--screen-height) * 0.5);
    display: flex;
    gap: 3rem;
    flex-wrap: wrap-reverse;

    /* center the row */
    justify-content: center;
    align-items: center;

    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .intro {
    flex: 1;
    min-width: min(400px, 100%);
  }

  img {
    width: 250px;
    object-fit: contain;
    border-radius: 50%;
    margin: 0 auto;
  }
  p {
    font-size: 1.25rem;
  }
  a {
    font-weight: 600;
  }
  .inverted {
    padding: 0.25rem; 
    border-radius: 0.5rem; 
    background-color: #f0f0f0;
    font-style: italic;
    font-weight: normal;
  }
</style>