---
import BlogEntryItem from "@components/blog/BlogEntryItem.astro";
import ProjectEntryItem from "@components/project/ProjectEntryItem.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import { getBlogCollection, getBookMarkCollection, getProjectCollection } from "utils/content";
import { getTitle } from "utils/title";
import { Icon } from "astro-icon/components"
import BookmarkEntryItem from "@components/bookmark/BookmarkEntryItem.astro";
import { Image } from "astro:assets";
import { Spotlight } from "@components/Spotlight";
import GlowingButton from "@components/button/GlowingButton.astro";
import PrimaryButton from "@components/button/PrimaryButton.astro";
import SecondaryButton from "@components/button/SecondaryButton.astro";


const allBlogPosts = await getBlogCollection();
const allProject = await getProjectCollection();
const allBookmark = await getBookMarkCollection();

---

<BaseLayout title={getTitle('Home')}>
  <main>
    <section class='relative isolate min-h-main -mt-20 mb-20 flex flex-col justify-center'>
      <article class='layout'>
        <Spotlight
          className="hidden md:block -top-0 left-00 md:left-60 md:-top-20"
          fill="white"
          client:visible
        />
        <div class="flex flex-col items-center justify-center min-h-screen">
          <div class="flex flex-row mb-6 gap-4">
            <GlowingButton 
                href="/blog"
                text="Read blog"
            />
            
            <SecondaryButton 
              href="/about"
              text=" Hire me →"
            />

          </div>
          <div class="flex flex-col md:flex-row items-start">
            <div>
              <div class="flex justify-center items-center">
                <h2 class='text-2xl md:text-4xl 2xl:text-4xl'>  
                  Hi, I'm Bagus,
                </h2>
                <Image
                  class='ml-4 rounded-lg w-16 h-16 md:w-16 md:h-16 object-cover'
                  src='/images/avatar-1.png'
                  alt='Photo of me, hopefully can impress your boss'
                  decoding='async'
                  loading='lazy'
                  width={500}
                  height={500}
                />
              </div>
              <h1 class='font-display text-gray-200 text-4xl text-center md:text-6xl 2xl:text-5xl'>  
                Software Engineer.
              </h1>
            </div>
          </div>
          <h4 class="flex justify-center items-center text-center mt-4 px-20 text-gray-400">
            Crafting beautiful and intuitive mobile and web experiences 
          </h4>

        </div>
      </article>
    </section>

    <section class='relative isolate py-20 px-8' id='intro'>
      <article class='layout flex flex-col-reverse items-center md:flex-row md:justify-start gap-8'>
        <div class='md:mt-8 h-full w-full'>
            <h2 class='font-display text-3xl md:text-5xl'>
              Blog and Short Articles
            </h2>
            <p class='mt-2 text-base text-gray-400 md:text-lg'>
              A collection of my writings inspired by many different authors. 
              It features my detailed reflections on 
              <span class='inline-flex underline decoration-gray'>
                programming
              </span>
              and 
              <span class='inline-flex underline decoration-gray'>
                personal growth.
              </span>
            </p>
            <PrimaryButton
              href="/blog"
              text="See more articles →"
            />

        </div>  
        <div class='h-full w-full sm:w-96 lg:w-full'>
          <ul class='relative h-full'>
            {[allBlogPosts.slice(0, 1).map(blog => <BlogEntryItem {...blog} />)]}
          </ul>
        </div>
      </article>
      
    </section>
    
    <section class='py-20 px-8'>
      <article class='layout'>
        <div class="flex flex-row items-center justify-between">
          <h2 class='font-display text-3xl md:text-3xl'>
            Personal projects
          </h2>
          <SecondaryButton 
              href="/projects"
              text="see more project →"
            />
        </div>
        
        <ul class='mt-8 grid gap-4 sm:grid-cols-2 xl:grid-cols-2'>
          {[allProject.slice(0, 2).map(project => <ProjectEntryItem {...project} />)]}
        </ul>
             
      </article>
    </section>

    <section class='relative isolate py-20 mb-20'>
      <article class='layout'>
        <div class="flex flex-col justify-center items-center text-center gap-2 ">
          <h1 class='text-3xl md:text-4xl 2xl:text-4xl'>
            <span class="font-display md:text-5xl 2xl:text-5xl">Interested</span> in what you see?
          </h1>
          <p class='px-20 text-l text-gray-400 md:text-xl 2xl:text-2xl'>
            I'm always open to new opportunities and collaborations. If you have any questions or need assistance with a project.
          </p>
          
          <GlowingButton 
            href="mailto:merta.bagus24@gmail.com"
            text="Email me"
          />
        </div>
      </article>
    </section>
    
  </main>
</BaseLayout>
