---
import BlogEntryItem from "@components/BlogEntryItem.astro";
import ProjectEntryItem from "@components/ProjectEntryItem.astro";
import Accent from "@components/Accent.astro";
import CustomLink from "@components/CustomLink.astro";
import Button from "@components/Button.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import { getBlogCollection, getBookMarkCollection, getProjectCollection } from "utils/content";
import { getTitle } from "utils/title";
import { Icon } from "astro-icon/components"
import BookmarkEntryItem from "@components/BookmarkEntryItem.astro";
import { Image } from "astro:assets";
import { Spotlight } from "@components/Spotlight";


const allBlogPosts = await getBlogCollection();
const allProject = await getProjectCollection();
const allBookmark = await getBookMarkCollection();

---

<BaseLayout title={getTitle('Home')}>
  <main>
    <section class='relative isolate min-h-main -mt-20 mb-20 flex flex-col justify-center'>
      <article class='layout'>
        <Spotlight
          className="-top-0 left-00 md:left-60 md:-top-20"
          fill="white"
          client:load
        />
        <div class="flex flex-col items-center justify-center min-h-screen">
          <div class="flex flex-col md:flex-row items-start">
            <div>
              <div class="flex justify-center items-center">
                <h2 class='text-3xl md:text-4xl 2xl:text-4xl'>  
                  Hi, I'm Bagus,
                </h2>
                <Image
                  class='ml-4 rounded-lg w-16 h-16 md:w-16 md:h-16 object-cover'
                  src='/images/avatar-1.png'
                  alt='Photo of me, hopefully can impress your boss'
                  decoding='async'
                  loading='lazy'
                  width={500}
                  height={500}
                />
              </div>
              <h1 class='font-display text-gray-400 text-5xl md:text-6xl 2xl:text-5xl'>  
                Software Engineer.
              </h1>
            </div>
          </div>
          <h4 class="flex justify-center items-center text-center mt-4 px-20 text-gray-400">
            Crafting code, one line at a time: meet bagus, software engineer extraordinaire, yo!
          </h4>

          <div class="flex flex-row mt-6 gap-4">
            <a href="blog">
              <button class="group relative grid overflow-hidden rounded-full shadow-[0_1000px_0_0_hsl(0_0%_20%)_inset] transition-colors duration-200">
                <span>
                  <span class="spark mask-gradient absolute inset-0 h-[100%] w-[100%] animate-flip overflow-hidden rounded-full [mask:linear-gradient(white,_transparent_50%)] before:absolute before:aspect-square before:w-[200%] before:rotate-[-90deg] before:animate-rotate before:bg-[conic-gradient(from_0deg,transparent_0_340deg,white_360deg)] before:content-[''] before:[inset:0_auto_auto_50%] before:[translate:-50%_-15%]" />
                </span>
                <span class="backdrop absolute inset-[1px] rounded-full bg-neutral-950 transition-colors duration-200 group-hover:bg-neutral-800" />
                <span class="z-10 py-0.5 text-sm text-neutral-100">Read Blog</span>
              </button>
            </a>
            
            <a href="/about" class="ml-2 mt-2 text-md text-gray-400 hover:text-blue-500 cursor-pointer">
                Hire me →
            </a>
            
          </div>
        </div>
      </article>
    </section>

    <section class='relative isolate py-20 px-6' id='intro'>
      <article class='layout flex flex-col-reverse items-center md:flex-row md:justify-start gap-8'>
        <div class='md:mt-8 h-full w-full'>
            <h2 class='font-display text-3xl md:text-5xl'>
              Blog and Short Articles
            </h2>
            <p class='mt-2 text-base text-gray-400 md:text-lg'>
              A collection of my writings inspired by many different authors. 
              It features my detailed reflections on 
              <span class='inline-flex underline decoration-gray'>
                programming
              </span>
              and 
              <span class='inline-flex underline decoration-gray'>
                personal growth.
              </span>
            </p>
            <a href="blog">
              <button class="group relative grid overflow-hidden rounded-full">
                <span>
                  <span class="spark mask-gradient absolute" />
                </span>
                <span class="backdrop absolute inset-[1px] rounded-full bg-neutral-950 group-hover:bg-neutral-800" />
                <span class="z-10 py-0.5 text-sm text-neutral-100">See more articles →</span>
              </button>
            </a>

        </div>  
        <div class='h-full w-full'>
          <ul class='relative h-full'>
            {[allBlogPosts.slice(0, 1).map(blog => <BlogEntryItem {...blog} />)]}
          </ul>
        </div>
      </article>
      
    </section>
    
    <section class='py-20 px-6'>
      <article class='layout'>
        <div class="flex flex-row items-center justify-between">
          <h2 class='font-display text-3xl md:text-3xl'>
            Personal projects
          </h2>
          <a href="/blog" class="mt-2 text-md text-gray-400 hover:text-blue-500 cursor-pointer">
            See more articles →
          </a>
        </div>
        
        <ul class='mt-8 grid gap-4 sm:grid-cols-2 xl:grid-cols-2'>
          {[allProject.slice(0, 2).map(project => <ProjectEntryItem {...project} />)]}
        </ul>
             
      </article>
    </section>

    

    <section class='relative isolate py-20 px-6'>
      <article class='layout'>   
          <div class="flex flex-row items-center justify-between">
            <h2 class='font-display text-3xl md:text-3xl'>
              My bookmarks
            </h2>
            <a href="/bookmarks" class="mt-2 text-md text-gray-400 hover:text-blue-500 cursor-pointer">
              See more bookmarks →
            </a>
          </div>
        
        <div class='mt-8 w-full h-full'>
          <ul class='relative w-full h-full'>
            {[allBookmark.slice(0, 1).map(item => <BookmarkEntryItem {...item} />)]}
          </ul>
        </div>
      </article>
      
    </section>

    <section class='relative isolate py-20'>
      <article class='layout'>
        <div class="flex flex-col justify-center items-center text-center gap-2 ">
          <h1 class='text-3xl md:text-4xl 2xl:text-4xl'>
            <span class="font-display md:text-5xl 2xl:text-5xl">Interested</span> in what you see?
          </h1>
          <p class='px-20 text-l text-gray-400 md:text-xl 2xl:text-2xl'>
            I'm always open to new opportunities and collaborations. If you have any questions or need assistance with a project.
          </p>
          
          <button class="group relative grid overflow-hidden rounded-full">
            <span>
              <span class="spark mask-gradient absolute" />
            </span>
            <span class="backdrop absolute inset-[1px] rounded-full bg-neutral-950 group-hover:bg-neutral-800" />
            <span class="inline-flex justify-center items-center z-10 py-0.5 gap-2 text-sm text-neutral-100"> Email me <Icon name='ri:mail-fill'/></span>
          </button>
        </div>
      </article>
    </section>
    
  </main>
</BaseLayout>
