---
import BlogEntryItem from "@components/features/blog/BlogEntryItem.astro";
import ProjectEntryItem from "@components/features/project/ProjectEntryItem.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import { getBlogCollection, getNicewordsCollection, getProjectCollection } from "utils/content";
import { getTitle } from "utils/title";
import { Image } from "astro:assets";
import PrimaryButton from "@components/ui/button/PrimaryButton.astro";
import SecondaryButton from "@components/ui/button/SecondaryButton.astro";
import Background from "@components/layout/Background.astro";
import GradientSubText from "@components/ui/text/GradientSubText.astro";
import GradientHeaderText from "@components/ui/text/GradientHeaderText.astro";
import NiceWordsCard from "@components/ui/NiceWordsCard.astro";
import type { Code } from "astro:components";

const allBlogPosts = await getBlogCollection();
const allProject = await getProjectCollection();
const allNicewords = await getNicewordsCollection();
---

<BaseLayout title={getTitle('Home')}>
  <main>
    <Background>
      <section class='relative isolate min-h-main -mt-20 mb-20 flex flex-col justify-center'>
        <article class='layout px-4 sm:px-0'>
          <div class="flex flex-col items-center justify-center min-h-screen">
            <div class="flex flex-row mb-6 gap-4">
              <PrimaryButton 
                  href="/blog"
                  text="Read blog"
              />
              
              <SecondaryButton 
                href="/about"
                text=" About me →"
              />
  
            </div>
            <div class="flex flex-col md:flex-row items-start">
              <div>
                <div class="flex justify-center items-center">
                  <h2 class='text-2xl md:text-4xl 2xl:text-4xl'>  
                    Hi, I'm Bagus,
                  </h2>
                  <div class="relative w-[60px] h-[60px] ml-4 flex-shrink-0">
                    <div class="absolute inset-0 bg-gray-800/20 rounded-lg blur-sm"></div>
                    <Image
                      class='relative h-full w-full rounded-lg object-cover opacity-0 transition-opacity duration-300'
                      src='/images/avatar-1.jpg'
                      alt='Photo of me, hopefully can impress your boss'
                      decoding='async'
                      loading='lazy'
                      width={60}
                      height={60}
                      onload="this.style.opacity = 1"
                    />
                  </div>
                </div>
                <h1 class='font-display text-4xl text-center md:text-6xl 2xl:text-5xl bg-clip-text text-transparent bg-gradient-to-b from-neutral-50 to-neutral-400 bg-opacity-50'>  
                  Software Engineer.
                </h1>
              </div>
            </div>

            <GradientSubText className="flex justify-center items-center text-center md:text-lg mt-4">
             Creating product that deliver exceptional user interfaces and user experiences 
            </GradientSubText>
  
          </div>
        </article>
      </section>

    </Background>
    

    <section class='relative isolate py-20' id='intro'>
      <article class='layout flex flex-col-reverse items-center md:flex-row md:justify-start gap-8'>
        <div class='md:mt-8 h-full w-full'>
            <h2 class='font-display text-3xl md:text-5xl'>
              Blog and Short Articles
            </h2>
            <p class="text-base md:text-lg mt-2">
              A collection of my writings inspired by many different authors. 
              It features my detailed reflections on programming and personal growth.
            </p>

            <PrimaryButton
              href="/blog"
              text="See more articles →"
            />

        </div>  
        <div class='h-full w-full sm:w-96 lg:w-full'>
          <ul class='relative h-full'>
            {[allBlogPosts.slice(0, 1).map(blog => <BlogEntryItem {...blog} />)]}
          </ul>
        </div>
      </article>
      
    </section>
    
    <section class='py-20'>
      <article class='layout px-4 sm:px-0'>
        <div class="flex flex-row items-center justify-between">
          <h2 class='text-2xl md:text-2xl'>
            Personal projects
          </h2>
          <SecondaryButton 
              href="/projects"
              text="see more project →"
            />
        </div>
        
        <ul class='mt-8 grid gap-4 sm:grid-cols-2 xl:grid-cols-2'>
          {[allProject.slice(0, 2).map(project => <ProjectEntryItem {...project} />)]}
        </ul>
             
      </article>
    </section>

    <section class="py-20 mb-20">
      <article class="layout">
        <p class='font-display text-4xl text-center md:text-5xl 2xl:text-4xl bg-clip-text text-transparent bg-gradient-to-b from-neutral-50 to-neutral-400 bg-opacity-50'>
          Some kind words
        </p>
        <GradientSubText className="text-l md:text-l 2xl:text-2xl text-center">
          Some feedback from the people I've had the privilege of working with.
        </GradientSubText>
        
        <ul class="mt-8 grid gap-4 sm:grid-cols-2 xl:grid-cols-2">
          {[
            allNicewords.map(nicewords => <NiceWordsCard {...nicewords} />)
          ]}
        </ul>
      </article>  
    </section>

    <section class='relative isolate py-20 mb-20'>
      <article class='layout px-4 sm:px-0'>
        <div class="flex flex-col justify-center items-center text-center gap-2 ">
          <h1 class='text-3xl md:text-4xl 2xl:text-4xl'>
            <GradientHeaderText className="font-display text-4xl md:text-5xl 2xl:text-5xl" >Interested</GradientHeaderText>
            in what you see?
          </h1>

          <GradientSubText className="text-l md:text-xl 2xl:text-2xl">
            I'm always open to new opportunities and collaborations. If you have any questions or need assistance with a project.
          </GradientSubText>
          
          <PrimaryButton 
            href="mailto:merta.bagus24@gmail.com"
            text="Email me"
            glowing={true}
          />
        </div>
      </article>
    </section>
    
  </main>
</BaseLayout>
