---
import BlogEntryItem from "@components/BlogEntryItem.astro";
import ProjectEntryItem from "@components/ProjectEntryItem.astro";
import Accent from "@components/Accent.astro";
import CustomLink from "@components/CustomLink.astro";
import Button from "@components/Button.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import { getBlogCollection, getProjectCollection } from "utils/content";
import { getTitle } from "utils/title";
import { Icon } from "astro-icon/components"


const allBlogPosts = await getBlogCollection();
const allProject = await getProjectCollection();

---

<BaseLayout title={getTitle('Home')}>
  <main>
    <section class='min-h-main -mt-20 mb-20 flex flex-col justify-center'>
      <article class='layout'>
          <h1 class='mt-4 text-xl md:text-4xl 2xl:text-5xl'>
            👋🏻 Hello! you can call me 
            <Accent text='Bagus'/> 
          </h1>
          <h4 class='mt-4 text-l md:text-3xl 2xl:text-4xl'>I'm a software engineer from Indonesia who's passionate about 
            <Accent text='Mobile'/>
            and 
            <Accent text='Front-end'/>
            development.
          </h4>
          <div class='mt-4 flex flex-wrap gap-4 gap-y-2 md:mt-4'>
            <a 
              class:list={[
                'inline-flex items-center gap-1 text-md font-medium md:text-base',
                'cursor-newtab'
              ]}
              target='_blank'
              href='https://github.com/gusentanan'>
                <Icon name='ri:github-fill'/>
                <h4>
                  <CustomLink text='gusentanan' />
                </h4>
            </a>
            <a 
              class:list={[
                'inline-flex items-center gap-1 text-md font-medium md:text-base',
                'cursor-newtab'
              ]}
              target='_blank'
              href='https://linkedin.com/in/bagusmerta'>
                <Icon name='ri:linkedin-box-fill'/>
                <h4>
                  <CustomLink text='bagusmerta' />
                </h4>
            </a>
            <a 
              class:list={[
                'inline-flex items-center gap-1 text-md font-medium md:text-base',
                'cursor-newtab'
              ]}
              target='_blank'
              href='https://twitter.com/@bagusmertasntn'>
                <Icon name='ri:twitter-x-fill'/>
                <h4>
                  <CustomLink text='@bagusmertasntn' />
                </h4>
            </a>
          </div>
          <div class='mt-8 flex flex-wrap gap-4 md:!text-lg'>
              <Button textButton='More about me →' link={"/about/"} />
              <Button textButton='Read blog →' link={"/blog/"} />
          </div>

      </article>
      <a 
        href='#intro' 
        class:list={[
          'absolute bottom-2 left-1/2 -translate-x-1/2 md:bottom-10',
          'cursor-pointer rounded-md transition-colors',
          'hover:text-primary-300 focus-visible:text-primary-300'
        ]}
      >
          <Icon class='h-8 w-8 animate-bounce md:h-10 md:w-10',
            name='material-symbols:arrow-downward-rounded' />

      </a>
      
    </section>

    <section class='py-20' id='intro'>
      <article class='layout flex flex-col-reverse items-center md:flex-row md:justify-start'>
        <div class='mt-8 mr-8 h-full w-full md:mt-0'>
            <h2 class='text-2xl md:text-4xl'>
              List of <Accent text='Blog'/> and Short Articles
            </h2>
            <p class='mt-2 text-base text-gray-800 md:text-lg'>
              A collection of my writings inspired by many different authors, mostly taken from my personal notes. 
              It features my detailed reflections on programming and personal growth, thoughtfully organized in chronological order for easier reading.
            </p>

            <Button textButton='See More Articles →' link={"/blog/"} />

        </div>  
        <div class='h-full w-full'>
          <ul class='relative h-full'>
            {[allBlogPosts.slice(0, 1).map(blog => <BlogEntryItem {...blog} />)]}
          </ul>
        </div>
      </article>
    </section>
    
    <section class='py-20'>
      <article class='layout'>
          <h2 class='text-2xl md:text-4xl'>
            Personal <Accent text='Projects'/>
          </h2>
          <p class='mt-2 text-base text-gray-800 md:text-lg'>
            Here are some projects I've created. They were often built out of my curiosity and to explore what’s possible with code.
          </p>
        
        <ul class='mt-4 grid gap-4 sm:grid-cols-2 xl:grid-cols-3'>
          {[allProject.slice(0, 3).map(project => <ProjectEntryItem {...project} />)]}
        </ul>
        
        <Button textButton='See More Projects →' link={"/projects/"} />
       
      </article>
    </section>

        
      </article>
      
    </section>

  </main>
</BaseLayout>
