---
import BlogEntryItem from "@components/BlogEntryItem.astro";
import ProjectEntryItem from "@components/ProjectEntryItem.astro";
import Accent from "@components/Accent.astro";
import CustomLink from "@components/CustomLink.astro";
import Button from "@components/Button.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import { getBlogCollection, getBookMarkCollection, getProjectCollection } from "utils/content";
import { getTitle } from "utils/title";
import { Icon } from "astro-icon/components"
import BookmarkEntryItem from "@components/BookmarkEntryItem.astro";


const allBlogPosts = await getBlogCollection();
const allProject = await getProjectCollection();
const allBookmark = await getBookMarkCollection();

---

<BaseLayout title={getTitle('Home')}>
  <main>
    <section class='relative isolate min-h-main -mt-20 mb-20 flex flex-col justify-center'>
      <article class='layout'>
          <h1 class='mt-4 text-3xl md:text-4xl 2xl:text-5xl'>
            👋🏻 
            <span class="inline-flex flex-col h-[calc(theme(fontSize.3xl)*theme(lineHeight.tight))] md:h-[calc(theme(fontSize.4xl)*theme(lineHeight.tight))] overflow-hidden">
              <ul class="block animate-text-slide text-left [&_li]:block">
                <li>Hello!</li>
                <li>Halo</li>
                <li>Ciao</li>
                <li>Namaste</li>
                <li>こんにちは</li>
                <li>Γειά σου</li>
                <li aria-hidden="true">Hello!</li>
              </ul>
            </span>
          </h1>
          
          <h2 class='mt-4 text-xl md:text-4xl 2xl:text-5xl'>  
            you can call me 
            <Accent text='Bagus'/> 
          </h2>
          <h4 class='mt-4 text-l md:text-3xl 2xl:text-4xl'>I'm a software engineer from Indonesia who's passionate about 
            <span class='inline-flex items-center underline decoration-black'>
              Mobile
            </span>
            and 
            <span class='inline-flex items-center underline decoration-black'>
              Front-end
            </span>
            development.
          </h4>
          <div class='mt-4 flex flex-wrap gap-4 gap-y-2 md:mt-4'>
            <a 
              class:list={[
                'inline-flex items-center gap-1 text-md font-normal md:text-base',
                'cursor-newtab'
              ]}
              target='_blank'
              href='https://github.com/gusentanan'>
                <Icon name='ri:github-fill'/>
                <h4>
                  <CustomLink text='gusentanan' />
                </h4>
            </a>
            <a 
              class:list={[
                'inline-flex items-center gap-1 text-md font-normal md:text-base',
                'cursor-newtab'
              ]}
              target='_blank'
              href='https://linkedin.com/in/bagusmerta'>
                <Icon name='ri:linkedin-box-fill'/>
                <h4>
                  <CustomLink text='bagusmerta' />
                </h4>
            </a>
            <a 
              class:list={[
                'inline-flex items-center gap-1 text-md font-normal md:text-base',
                'cursor-newtab'
              ]}
              target='_blank'
              href='https://twitter.com/@bagusmertasntn'>
                <Icon name='ri:twitter-x-fill'/>
                <h4>
                  <CustomLink text='@bagusmertasntn' />
                </h4>
            </a>
          </div>
          <div class='mt-8 flex flex-wrap gap-4 md:!text-lg'>
              <Button textButton='More about me →' link={"/about/"} />
              <a class:list={[
                 'mt-4 inline-flex rounded px-4 py-2',
                'bg-gray-100 shadow-sm hover:shadow-lg hover:border border-black',
                'scale-100 hover:scale-[1.03] active:scale-[0.97] motion-safe:transform-gpu',
                'motion-reduce:hover:scale-100 motion-reduce:hover:brightness-90',
                'transition duration-100',
              ]} href="/blog/">
                Read blog →
              </a>
            
          </div>
      </article>

      <div class="absolute inset-x-0 -bottom-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-bottom-80">
        <svg
          class="relative left-[calc(50%-11rem)] -z-10 h-[21.1875rem] max-w-none -translate-x-1/2 rotate-[30deg] sm:left-[calc(50%-30rem)] sm:h-[42.375rem] animate-slide"
          viewBox="0 0 1155 678">
          <path
            fill="url(#9b2541ea-d39d-499b-bd42-aeea3e93f5ff)"
            fill-opacity=".3"
            d="M317.219 518.975L203.852 678 0 438.341l317.219 80.634 204.172-286.402c1.307 132.337 45.083 346.658 209.733 145.248C936.936 126.058 882.053-94.234 1031.02 41.331c119.18 108.451 130.68 295.337 121.53 375.223L855 299l21.173 362.054-558.954-142.079z">
          </path>
          <defs>
            <linearGradient
              id="9b2541ea-d39d-499b-bd42-aeea3e93f5ff"
              x1="1155.49"
              x2="-78.208"
              y1=".177"
              y2="474.645"
              gradientUnits="userSpaceOnUse">
              <stop stop-color="#9089FC"></stop>
              <stop offset="1" stop-color="#FFD580"></stop>
            </linearGradient>
          </defs>
        </svg>
      </div>

      <a 
        href='#intro' 
        class:list={[
          'absolute bottom-2 left-1/2 -translate-x-1/2 md:bottom-10',
          'cursor-pointer rounded-md transition-colors',
          'hover:text-primary-300 focus-visible:text-primary-300'
        ]}
      >
          <Icon class='h-8 w-8 animate-bounce md:h-10 md:w-10',
            name='material-symbols:arrow-downward-rounded' />

      </a>
      
    </section>

    <section class='relative isolate py-20' id='intro'>
      <article class='layout flex flex-col-reverse items-center md:flex-row md:justify-start'>
        <div class='mt-8 h-full w-full md:mt-0'>
            <h2 class='text-2xl md:text-4xl'>
              List of <Accent text='Blog'/> and Short Articles
            </h2>
            <p class='mt-2 text-base text-gray-800 md:text-lg'>
              A collection of my writings inspired by many different authors, mostly taken from my personal notes. 
              It features my detailed reflections on 
              <span class='inline-flex underline decoration-black'>
                programming
              </span>
              and 
              <span class='inline-flex underline decoration-black'>
                personal growth
              </span>
              , thoughtfully organized in chronological order for easier reading.
            </p>

            <Button textButton='See More Articles →' link={"/blog/"} />

        </div>  
        <div class='h-full w-full'>
          <ul class='relative h-full'>
            {[allBlogPosts.slice(0, 1).map(blog => <BlogEntryItem {...blog} />)]}
          </ul>
        </div>
      </article>

      <div class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]">
        <svg
          class="relative left-[calc(50%+3rem)] h-[21.1875rem] max-w-none -translate-x-1/2 sm:left-[calc(50%+36rem)] sm:h-[42.375rem] animate-slide"
          viewBox="0 0 1155 678">
          <path
            fill="url(#b9e4a85f-ccd5-4151-8e84-ab55c66e5aa1)"
            fill-opacity=".3"
            d="M317.219 518.975L203.852 678 0 438.341l317.219 80.634 204.172-286.402c1.307 132.337 45.083 346.658 209.733 145.248C936.936 126.058 882.053-94.234 1031.02 41.331c119.18 108.451 130.68 295.337 121.53 375.223L855 299l21.173 362.054-558.954-142.079z">
          </path>
          <defs>
            <linearGradient
              id="b9e4a85f-ccd5-4151-8e84-ab55c66e5aa1"
              x1="1155.49"
              x2="-78.208"
              y1=".177"
              y2="474.645"
              gradientUnits="userSpaceOnUse">
              <stop stop-color="#9089FC">
                <animate attributeName="stop-color" values="#9089FC; #FF80B5; #9089FC" dur="5s" repeatCount="indefinite"></animate>
              </stop>
              <stop offset="1" stop-color="#ffb6c1">
                <animate attributeName="stop-color" values="#ffb6c1; #9089FC; #ffb6c1" dur="5s" repeatCount="indefinite"></animate>
              </stop>
            </linearGradient>
          </defs>
        </svg>
      </div>
      
    </section>
    
    <section class='py-20'>
      <article class='layout'>
          <h2 class='text-2xl md:text-4xl'>
            Personal <Accent text='Projects'/>
          </h2>
          <p class='mt-2 text-base text-gray-800 md:text-lg'>
            Here are some projects I've created. They were often built out of my curiosity and to explore what’s possible with code.
          </p>
        
        <ul class='mt-4 grid gap-4 sm:grid-cols-2 xl:grid-cols-3'>
          {[allProject.slice(0, 3).map(project => <ProjectEntryItem {...project} />)]}
        </ul>
        
        <Button textButton='See More Projects →' link={"/projects/"} />
       
      </article>
    </section>

    

    <section class='relative isolate py-20'>
      <article class='layout flex flex-col-reverse items-center md:flex-row md:justify-start'>
        <div class='py-4 px-2 h-full w-full'>
          <h2 class='text-2xl md:text-3xl 2xl:text-3xl'>
            My
            <Accent text='Bookmarks'/>
          </h2>
          <p class='mt-2 text-base text-gray-800 md:text-lg'>
            A collection of what I've been reading, gathered from various articles and blogs.          </p>
          <Button textButton='See More Bookmark →' link={"/bookmark/"} />
        </div>
        <div class='w-full h-full'>
          <ul class='relative w-full h-full'>
            {[allBookmark.slice(0, 1).map(item => <BookmarkEntryItem {...item} />)]}
          </ul>
        </div>
      </article>
       <div class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]">
        <svg
          class="relative left-[calc(50%+3rem)] h-[21.1875rem] max-w-none -translate-x-1/2 sm:left-[calc(50%+36rem)] sm:h-[42.375rem] animate-slide"
          viewBox="0 0 1155 678">
          <path
            fill="url(#b9e4a85f-ccd5-4151-8e84-ab55c66e5aa1)"
            fill-opacity=".3"
            d="M317.219 518.975L203.852 678 0 438.341l317.219 80.634 204.172-286.402c1.307 132.337 45.083 346.658 209.733 145.248C936.936 126.058 882.053-94.234 1031.02 41.331c119.18 108.451 130.68 295.337 121.53 375.223L855 299l21.173 362.054-558.954-142.079z">
          </path>
          <defs>
            <linearGradient
              id="b9e4a85f-ccd5-4151-8e84-ab55c66e5aa1"
              x1="1155.49"
              x2="-78.208"
              y1=".177"
              y2="474.645"
              gradientUnits="userSpaceOnUse">
              <stop stop-color="#9089FC">
                <animate attributeName="stop-color" values="#9089FC; #FF80B5; #9089FC" dur="5s" repeatCount="indefinite"></animate>
              </stop>
              <stop offset="1" stop-color="#ffb6c1">
                <animate attributeName="stop-color" values="#ffb6c1; #9089FC; #ffb6c1" dur="5s" repeatCount="indefinite"></animate>
              </stop>
            </linearGradient>
          </defs>
        </svg>
      </div>
      
    </section>

    <section class='relative isolate py-20'>
      <article class='layout'>
        <h1 class='text-2xl md:text-3xl 2xl:text-3xl'>
          <Accent text='Interested in what you see?'/>
          <br> Let's connect!
        </h1>
        <p class='text-xl md:text-2xl 2xl:text-3xl'>
          I'm always open to new opportunities and collaborations. If you have any questions or need assistance with a project,
          <a class='inline-flex items-center gap-2' href="mailto:merta.bagus24@gmail.com">
            <CustomLink text='feel free to reach out via email'/>
            <Icon name='ri:mail-fill'/>
          </a>
        </p>
      </article>
    </section>  
    

  </main>
</BaseLayout>
