---
import PostEntryItem from "@components/ProjectEntryItem.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import { getProjectCollection } from "utils/content";
import { getTitle } from "utils/title";

const allProject = await getProjectCollection();
---

<BaseLayout title={getTitle("Projects")}>
  <main>
    <div>
      <h1>Projects.</h1>
      <p>Things I've created in my spare time, often built out of curiosity or while trying something new.</p>
      <ul class="project-grid">
        {allProject.map((projects) => <PostEntryItem {...projects} />)}
      </ul>
    </div>
  </main>
</BaseLayout>

<style>
  main {
    width: 100%;
  }
  .project-grid {
    display: grid;
    gap: 1rem;
    padding: 0;
    margin-top: 6vh;
    margin-bottom: 10vh;
    list-style: none;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }

</style>