---
import BookmarkEntryItem from "@components/bookmark/BookmarkEntryItem.astro";
import { Spotlight } from "@components/Spotlight";
import TagFilter from "@components/TagFilter.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import { getBookMarkCollection } from "utils/content";
import { getTitle } from "utils/title";


const allBookmark = await getBookMarkCollection();
// Get all unique tags
const allTags = [...new Set(allBookmark.flatMap(post => post.data.tags))];

const currentTag = 'All';
---

<BaseLayout title={getTitle('Bookmarks')}>
    <main>
        <div class='layout py-32'>
            <div class="flex flex-col justify-center items-center">
                <h2 class='font-display text-4xl md:text-5xl'>
                    My
                    <span class="font-display text-5xl bg-gradient-to-br from-accent-blue/20 via-accent-blue/90 to-accent-blue/20 bg-clip-text text-transparent">
                      Bookmarks
                    </span>
                  </h2>
                <p class='px-12 md:px-32 py-2 md:py-6 text-center transition-colors bg-gradient-to-r from-neutral-300/[35%] via-neutral-300/90 to-neutral-300/[35%] bg-clip-text text-transparent'>
                    Since mid-2023, I’ve been reading articles almost every day. It's really helped me at work and expanded my knowledge. I created this page to keep track of everything I’ve read.
                </p>
    
                <TagFilter tags={allTags} selectedTag={currentTag} baseUrl="bookmarks" />
            </div>
            
            <div class="flex justify-center">
                <ul class='mt-4 grid gap-4 sm:grid-cols-2 xl:grid-cols-2'>
                    {
                        allBookmark.map((item) => <BookmarkEntryItem {...item} />)
                    }
                </ul>
            </div>
        </div>
    </main>

</BaseLayout>

