---
const { tags, selectedTag } = Astro.props;
---

<div class="tag-filter mb-6">
  <a 
    href="/blog"
    class:list={[
      'mt-0 mb-2 h-8 px-3 w-max flex gap-2 items-center rounded-full text-sm md:text-md',
      selectedTag == 'All' ? 'bg-black text-white' : 'bg-gray-200 text-black hover:bg-gray-300'
    ]}
  >
    All
  </a>
  {tags.map((tag) => (
    <a 
      href={`/blog/${tag}`}
      class:list={[
        'mt-0 mb-2 h-8 px-3 w-max flex gap-2 items-center rounded-full text-sm md:text-md',
        selectedTag === tag ? 'bg-black text-white' : 'bg-gray-200 text-black hover:bg-gray-300'
      ]}
    >
      # {tag}
    </a>
  ))}
</div>

<style>
  .tag-filter {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
</style>