---
import type { BookmarkEntry } from 'utils/content';
import CustomLink from './CustomLink.astro';



export type Props = BookmarkEntry;
const props = Astro.props;
---

<li class:list={[
    'p-2 w-full rounded-lg border border-gray-900',
    'bg-gradient-to-br from-[rgba(255,255,255,0.05)]',
    'scale-500 hover:scale-[1.02] active:scale-[0.97] motion-safe:transform-gpu',
    'transition duration-500',
    'motion-reduce:hover:scale-500',
    'animate-shadow',
    'hover:border-[rgba(255,255,255,0.26)] hover:shadow-[0_0_12px_rgba(255,255,255,0.1)]',
]}>
    <a href={(props.data.link)} class:list={[
        'flex h-full flex-col items-start rounded-md p-2 focus:outline-none focus-visible:ring focus-visible:ring-primary-300',
        'cursor-newtab'
    ]} target="_blank">
        <h4>{props.data.title}</h4>
        <h5 class='mt-10 text-gray-500 line-clamp-3'>{props.data.description}</h5>
        <ul class='flex flex-wrap gap-2 mt-4 mb-4'>
            {props.data.tags.map((tag, _) => {
              return ( 
                <li>
                    <p class='mt-0 mb-0 h-8 px-3 w-max flex gap-2 items-center rounded-full bg-black text-white text-sm md:text-md'>
                        #{tag}
                    </p>
                </li> 
                );
            })}
            
        </ul>
    </a>
</li>

