---
const links = [
  {
    title: "Twitter",
    url: "https://twitter.com/@bagusmertasntn",
  },
  {
    title: "GitHub",
    url: "https://github.com/gusentanan",
  },
  {
    title: "LinkedIn",
    url: "https://linkedin.com/in/bagusmerta",
  },
  {
    title: "RSS",
    url: "https://gusentanan.github.io/rss.xml",
  }
];

---

<footer>
  <hr class="divider-dashed" />
  <div>
    <div class="copyright">
      {new Date().getFullYear()} &copy; I Putu Bagus Merta Sentana. Made with🩸 Product of Indonesia.
    </div>
    <div class="links">
      <h4>Links</h4>
      {links.map(({ title, url }) => <a href={url}  target="_blank" class="link">{title}</a>)}
    </div>
  </div>
</footer>

<style>
  footer {
    padding: 1rem 0;
  }
  footer > div {
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: flex-start;
    gap: 1rem;
    padding: 1rem 0;
  }
  .divider-dashed {
    border-top: 2px dashed #bbb;
  }
  .copyright {
    flex-grow: 2;
    min-width: min(100%, 25rem);
  }
  .links {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
    align-items: center;
    min-width: min(100%, 10rem);
    margin-bottom: 1rem;
  }
  .links > h4 {
    margin-top: 0rem;
    margin-bottom: 0.75rem;
  }
  @media (max-width: 600px){
    .links {
      display: flex;
      flex-direction: column;
      align-items: start;
    }
  }

</style>