---
import { Icon } from "astro-icon/components"


const links = [
  {
    iconify: "ri:twitter-x-fill",
    url: "https://twitter.com/@bagusmertasntn",
  },
  {
    iconify: "ri:github-fill",
    url: "https://github.com/gusentanan",
  },
  {
    iconify: "ri:linkedin-box-fill",
    url: "https://linkedin.com/in/bagusmerta",
  },
  {
    iconify: "ri:rss-fill",
    url: "https://gusentanan.github.io/rss.xml",
  }
];

---
<footer class='bottom-0 transition-shadow'>
  <div class='mt-4 pb-2'>
    <div class='layout flex flex-col items-center'>
      <div class='flex flex-wrap justify-center gap-x-8 gap-y-4'>
        {links.map(({ iconify, url }) => 
          <a 
            href={url}  
            target='_blank' 
            class:list={[
              'text-lg',
              'cursor-newtab'
            ]}>
            <Icon name={iconify} />
          </a>
        )}
      </div>
      <p class='mt-4 text-sm text-black-600'>
        {new Date().getFullYear()} &copy; I Putu Bagus Merta Sentana
      </p>
    </div>
  </div>
</footer>
