---
import { getPathNameWithoutLocale } from "utils/url";

type NavLink = {
  href: string;
  label: string;
};

const LINKS: NavLink[] = [
  { href: "/", label: "Home" },
  { href: "/about/", label: "About" },
  { href: "/projects/", label: "Projects" },
  { href: "/blog/", label: "Blog" },
  // { href: "/experience", label: "Experience" },
];

// omit the locale prefix if exists
const pathname = getPathNameWithoutLocale(Astro.request.url);
---

<header>
  <nav>
    <a href="/">
      <picture>
        <img
          src="/images/logo.svg"
          alt="bagusmerta.dev logo"
          width="122"
          height="122"
        />
      </picture>
    </a>
    <div>
      {
        LINKS.map(({ href, label }) => (
          <a href={href} aria-current={href.toLowerCase() === pathname.toLowerCase() ? "page" : undefined}
          class="link">
            {label}
          </a>
        ))
      }
    </div>
  </nav>
</header>

<style>
  header {
    padding-top: 1em;
  }
  h1 {
    margin-bottom: 0;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1em;
    margin-right: 2em;
  }
  nav > div {
    display: flex;
    gap: 0.75em;
  }
  img {
    width: 10em;
    height: 6em;
    object-fit: contain;
  }
  a[aria-current="page"] {
    font-weight: bold;
  }

  @media (max-width: 600px){
    nav {
      display: flex;
      flex-direction: column;
      align-items: start;
    }
  }

</style>