---
import { getPathNameWithoutLocale } from "utils/url";

type NavLink = {
  href: string;
  label: string;
};

const LINKS: NavLink[] = [
  { href: "/", label: "Home" },
  { href: "/about", label: "About" },
  { href: "/projects", label: "Projects" },
  { href: "/blog", label: "Blog" },
  // { href: "/experience", label: "Experience" },
];

// Omit the locale prefix if it exists
const pathname = getPathNameWithoutLocale(Astro.request.url);
---

<header class='sticky top-0 z-50'>
  <div class='h-1 bg-gradient-to-r from-primary-200 via-primary-300 to-primary-500' />
  <div class='bg-white transition-colors'>
    <nav class='layout flex items-center justify-between py-4'>
      <a href='/'>
        <picture>
          <img
            src='/images/logo.svg'
            alt='bagusmerta.com logo'
            width='122'
            height='122'
          />
        </picture>
      </a>
      <ul class='flex items-center justify-between space-x-3 text-xs md:space-x-4 md:text-base'>
        {LINKS.map(({ href, label }) => {
          const isActive = href.toLowerCase() === pathname.toLowerCase() || href.toLocaleLowerCase() == pathname.toLocaleLowerCase() + '/';
          return (
            <li>
              <a href={href}>
                <span
                  class={`animated-underline custom-link inline-flex items-center font-normal focus:outline-none focus-visible:ring focus-visible:ring-primary-300 ${isActive ? '!bg-primary-300/50' : ''}`}
                >
                  {label}
                </span>
              </a>
            </li>
          );
        })}
      </ul>
    </nav>
  </div>
</header>
