---
import { getBlogCollection } from "utils/content";
import { formatDate } from "utils/time";
import { getBlogPathName } from "utils/url";

const blogEntries = (await getBlogCollection()).slice(0, 5);
---

<div>
  <h2>Latest content</h2>
  <ul>
    {
      blogEntries.map((blogPostEntry) => (
        <li>
          <div>
            <a class="link" href={getBlogPathName(blogPostEntry)}>
              {blogPostEntry.data.title}
            </a>
            <time datetime={blogPostEntry.data.date.toISOString()}>
              {formatDate(blogPostEntry.data.date)}
            </time>
          </div>
        </li>
      ))
    }
  </ul>
</div>

<style>
  a {
    font-weight: 400;
  }
  time {
    color: #666;
  }
  ul {
    margin-block-start: 0.5em;
    padding-left: 1em;
  }
  li {
    padding: 0.1em 0;
  }

  li > div {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
  }

  h2 {
    margin-bottom: 0em;
    padding-bottom: 0em;
  }
</style>