---
import type { ProjectEntry } from "utils/content";
import { Image } from "astro:assets";
import TechIcons from "./TechIcons.astro";

export type Props = ProjectEntry;

const props = Astro.props;

---

<li class:list={[
    'project-card rounded-md md:w-full border',
    'scale-100 hover:scale-[1.02] active:scale-[0.97] motion-safe:transform-gpu',
    'transition duration-100',
    'motion-reduce:hover:scale-100'
]}>
  <a href={(props.data.link)} class:list={[
    'flex h-full flex-col items-start rounded-md p-4 focus:outline-none focus-visible:ring focus-visible:ring-primary-300',
    'cursor-newtab',
  ]} target='_blank'>
    <h3>{props.data.title}</h3>
    <p class='mb-auto text-sm text-black-700'>
        {props.data.description}
    </p>
      <TechIcons {...props}/>
      <picture>
        <Image 
            class='mt-2 rounded'
            src={props.data.image}
            alt='project image'
          />
      </picture> 
    <p class='animated-underline mt-2 inline-block font-medium'>
        Sources →
    </p>
  </a>
</li>


