---
import type { ProjectEntry } from "utils/content";
import { formatDate } from "utils/time";
import { Image } from "astro:assets";
import TechIcons from "./TechIcons.astro";

export type Props = ProjectEntry;

const props = Astro.props;

---

<li class="project-card">
  <a href={(props.data.link)} class="project-link" target="_blank">
    <h3>{props.data.title}</h3>
    <p class="project-description">
        {props.data.description}
    </p>
      <TechIcons {...props}/>
  
      <picture>
        <Image 
            class="project__image"
            src={props.data.image}
            alt="project image"
          />
      </picture> 
        
    <p class="project-link-text">
        Sources →
    </p>
  </a>
</li>


<style>

  .project-card {
      width: 100%;
      border: 1px solid darkgray;
      border-radius: 0.375rem;
      transition: transform 0.1s;
  }

  .project-card:hover {
      transform: scale(1.02);
  }

  .project-card:active {
      transform: scale(0.97);
  }

  .project-link {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin: 1em;
  }

  .project-description {
      font-size: 0.875rem;
      color: #4b5563;
      margin-bottom: 1em;
  }

  .project__image {
      pointer-events: none;
      width: 100%;
      height: 100%;
      object-fit: contain;
  }

  .project-link-text {
      display: inline-block;
      font-weight: 500;
      text-decoration: underline;
  }


  h3 {
      margin: 0;
  }

</style>

