---
const { tags, selectedTag, baseUrl } = Astro.props;
---

<div class="flex justify-center items-center flex-wrap gap-2 mb-6">
  <a 
    href={`/${baseUrl}`}
    class:list={[
      'mt-0 mb-2 h-8 px-3 w-max flex gap-2 items-center rounded-full text-sm md:text-md',
      selectedTag == 'All' ? 'bg-background text-white border border-gray-800' :  'bg-primary-foreground text-white hover:bg-secondary'
    ]}
  >
    All
  </a>
  {tags.map((tag) => (
    <a 
      href={`/${baseUrl}/${tag}`}
      class:list={[
        'mt-0 mb-2 h-8 px-3 w-max flex gap-2 items-center rounded-full text-sm md:text-md',
        selectedTag === tag ? 'bg-background text-white border border-gray-800' : 'bg-primary-foreground text-white hover:bg-secondary'
      ]}
    >
      # {tag}
    </a>
  ))}
</div>
