---
import { Icon } from "astro-icon/components"
import type { ProjectEntry } from "utils/content";

const techList = {
  kotlin: {
    icon: "skill-icons:kotlin-light",
  },
  flutter: {
    icon: "skill-icons:flutter-light",
  },
  android: {
    icon: "skill-icons:androidstudio-light",
  },
  typescript: {
    icon: "skill-icons:typescript",
  },
  vite: {
    icon: "skill-icons:vite-light",
  },
  github: {
    icon: "skill-icons:github-dark",
  },
  mdx: {
    icon: "skill-icons:markdown-light",
  },
  astro: {
    icon: "skill-icons:astro",
  }
}

export type Props = ProjectEntry;
const props = Astro.props;
---
<ul class="list-icons">
    {props.data.tags.map((tag, _) => {
        if (!techList[tag]) return null;
    
        const current = techList[tag];
        return (
          <li class="tech-icons">
            <Icon name={current.icon} />
          </li>
        );
      })
    }
</ul>


<style>

    .list-icons {
        padding: 0;
        list-style: none;
        display: flex;
    }
    .tech-icons {
        margin-left: 0.25em;
        margin-bottom: 0.25em;
    }

    [data-icon] {
        font-size: 2rem;
        color: var(--brand-color);
    }

</style>