---
import { Icon } from "astro-icon/components"
import type { ProjectEntry } from "utils/content";

const techList = {
  kotlin: {
    icon: "skill-icons:kotlin-light",
  },
  flutter: {
    icon: "skill-icons:flutter-light",
  },
  android: {
    icon: "skill-icons:androidstudio-light",
  },
  typescript: {
    icon: "skill-icons:typescript",
  },
  vite: {
    icon: "skill-icons:vite-light",
  },
  github: {
    icon: "skill-icons:github-dark",
  },
  mdx: {
    icon: "skill-icons:markdown-light",
  },
  astro: {
    icon: "skill-icons:astro",
  }
}

export type Props = ProjectEntry;
const props = Astro.props;
---
<ul class='mt-2 flex flex-wrap gap-2'>
    {props.data.tags.map((tag, _) => {
        if (!techList[tag]) return null;
        const current = techList[tag];
        return (
          <li>
            <Icon class='text-3xl' name={current.icon} />
          </li>
        );
      })
    }
</ul>

