---
import { Icon } from "astro-icon/components"
import type { ProjectEntry } from "utils/content";

const techList = {
  kotlin: {
    icon: "simple-icons:kotlin",
  },
  flutter: {
    icon: "simple-icons:flutter",
  },
  android: {
    icon: "simple-icons:android",
  },
  typescript: {
    icon: "simple-icons:typescript",
  },
  vite: {
    icon: "simple-icons:vite",
  },
  github: {
    icon: "simple-icons:github",
  },
  mdx: {
    icon: "simple-icons:markdown",
  },
  astro: {
    icon: "simple-icons:astro",
  },
  tailwind: {
    icon: "simple-icons:tailwindcss",
  }
}

export type Props = ProjectEntry;
const props = Astro.props;
---
<ul class='mt-2 flex flex-wrap gap-2'>
    {props.data.tags.map((tag, _) => {
        if (!techList[tag]) return null;
        const current = techList[tag];
        return (
          <li>
            <Icon class='text-2xl' name={current.icon} />
          </li>
        );
      })
    }
</ul>

