---
import ProjectEntryItem from "@components/features/project/ProjectEntryItem.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import { getProjectCollection } from "utils/content";
import { getTitle } from "utils/title";
import Background from "@components/layout/Background.astro";
import GradientSubText from "@components/ui/text/GradientSubText.astro";
import GradientHeaderText from "@components/ui/text/GradientHeaderText.astro";

const allProject = await getProjectCollection();
---
getProjectCollection
<BaseLayout title={getTitle('Projects')}>
  <Background>
    <main>
      <div class='layout py-32'>
        <div class="flex flex-col justify-center items-center">
          <h2 class='font-display text-5xl md:text-5xl'>
            The
            <GradientHeaderText>
              Projects
            </GradientHeaderText>
          </h2>

          <GradientSubText className="px-12 md:px-32 py-2 md:py-6 text-center">
            Things I've created.
            Please note that some projects from my professional work cannot be shared due to confidentiality reasons. 
          </GradientSubText>
        </div>
        <ul class='mt-6 grid gap-4 sm:grid-cols-2 xl:grid-cols-2'>
          {allProject.map((projects) => <ProjectEntryItem {...projects} />)}
        </ul>
      </div>
    </main>
  </Background>
</BaseLayout>
