---
import BlogEntryItem from "@components/blog/BlogEntryItem.astro";
import { Spotlight } from "@components/Spotlight";
import TagFilter from "@components/TagFilter.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import { getBlogPostByTag, getBlogTags } from "utils/posts";
import { getTitle } from "utils/title";


const allTags = await getBlogTags();

export async function getStaticPaths() {
	const tags = await getBlogTags()

	return tags.map((tag) => ({
		params: { tag },
		props: { tag }
	}))
}

const { tag } = Astro.props;
const posts = await getBlogPostByTag(tag);
---

<BaseLayout title={getTitle('Blog')}>
  <main>
    <section>
      <div class='layout py-32'>
        <Spotlight
          className="hidden md:block -top-20 left-0 md:left-60 md:-top-60"
          fill="white"
          client:visible
        />
        <div class="flex flex-col justify-center items-center">
          <h2 class='text-3xl md:text-4xl'>
            Welcome to my
            <span class="font-display text-5xl">Blog</span>
          </h2>
          <p class='px-32 py-6 text-center text-gray-400'>
            A collection of blog that includes my thoughtful reflections on programming, personal development, and my thoughts.
          </p>
          
          <TagFilter tags={allTags} selectedTag={tag} baseUrl="blog" />
        </div>
    
        <ul class='mt-4 grid gap-4 sm:grid-cols-2 xl:grid-cols-2'>
          {posts.map((blog) => <BlogEntryItem {...blog} />)}
        </ul>
      </div>
    </section>
  </main>
</BaseLayout>