---
import BlogEntryItem from "@components/features/blog/BlogEntryItem.astro";
import TagFilter from "@components/ui/TagFilter.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import { getBlogPostByTag, getBlogTags } from "utils/posts";
import { getTitle } from "utils/title";
import Background from "@components/layout/Background.astro";
import GradientSubText from "@components/ui/text/GradientSubText.astro";
import GradientHeaderText from "@components/ui/text/GradientHeaderText.astro";


const allTags = await getBlogTags();

export async function getStaticPaths() {
	const tags = await getBlogTags()

	return tags.map((tag) => ({
		params: { tag },
		props: { tag }
	}))
}

const { tag } = Astro.props;
const posts = await getBlogPostByTag(tag);
---

<BaseLayout title={getTitle('Blog')}>
  <Background>
    <main>
      <section>
        <div class='layout py-32'>
          <div class="flex flex-col justify-center items-center">
            <h2 class='font-display text-5xl md:text-5xl'>
              My
              <GradientHeaderText>
                Blog
              </GradientHeaderText>
            </h2>
            
            <GradientSubText className="px-12 md:px-32 py-2 md:py-6 text-center">
              A collection of blog that includes my thoughtful reflections on programming, personal development, and my thoughts.
            </GradientSubText>
            
            <TagFilter tags={allTags} selectedTag={tag} baseUrl="blog" />
          </div>
      
          <ul class='mt-4 grid gap-4 sm:grid-cols-2 xl:grid-cols-2'>
            {posts.map((blog) => <BlogEntryItem {...blog} />)}
          </ul>
        </div>
      </section>
    </main>
  </Background>
</BaseLayout>