---
import { Icon } from "astro-icon/components"
import type { ProjectEntry } from "utils/content";

const techList = {
  kotlin: {
    icon: "simple-icons:kotlin",
  },
  flutter: {
    icon: "simple-icons:flutter",
  },
  android: {
    icon: "simple-icons:android",
  },
  typescript: {
    icon: "simple-icons:typescript",
  },
  vite: {
    icon: "simple-icons:vite",
  },
  github: {
    icon: "simple-icons:github",
  },
  mdx: {
    icon: "simple-icons:markdown",
  },
  astro: {
    icon: "simple-icons:astro",
  },
  tailwind: {
    icon: "simple-icons:tailwindcss",
  },
  react: {
    icon: "simple-icons:react",
  }
}

export type Props = ProjectEntry;
const props = Astro.props;
---
<ul class='py-2 flex flex-wrap gap-2'>
    {props.data.tags.map((tag, _) => {
        if (!techList[tag]) return null;
        const current = techList[tag];
        return (
          <li class="inline-flex items-center justify-center w-8 h-8 border border-zinc-300/30 rounded bg-zinc-800/50 hover:bg-zinc-700/50 transition-colors duration-200">
            <Icon class='text-xl text-white' name={current.icon} />
          </li>
        );
      })
    }
</ul>

